USE [QLDSV_TC]
GO
/****** Object:  User [HTKN]    Script Date: 8/27/2023 04:35:06 PM ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [MSmerge_1C4C5A27AB3947999C53F6263FF44481]    Script Date: 8/27/2023 04:35:06 PM ******/
CREATE ROLE [MSmerge_1C4C5A27AB3947999C53F6263FF44481]
GO
/****** Object:  DatabaseRole [MSmerge_A63F88E0A9B44A788DF0587C0CABBB08]    Script Date: 8/27/2023 04:35:06 PM ******/
CREATE ROLE [MSmerge_A63F88E0A9B44A788DF0587C0CABBB08]
GO
/****** Object:  DatabaseRole [MSmerge_D824C928136A4715B6411F3BD0288D00]    Script Date: 8/27/2023 04:35:06 PM ******/
CREATE ROLE [MSmerge_D824C928136A4715B6411F3BD0288D00]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 8/27/2023 04:35:06 PM ******/
CREATE ROLE [MSmerge_PAL_role]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_1C4C5A27AB3947999C53F6263FF44481]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_A63F88E0A9B44A788DF0587C0CABBB08]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_D824C928136A4715B6411F3BD0288D00]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 8/27/2023 04:35:06 PM ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  UserDefinedTableType [dbo].[TYPE_CAPNHAT_DANGKY]    Script Date: 8/27/2023 04:35:06 PM ******/
CREATE TYPE [dbo].[TYPE_CAPNHAT_DANGKY] AS TABLE(
	[MALTC] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TYPE_CAPNHATDANGKY]    Script Date: 8/27/2023 04:35:06 PM ******/
CREATE TYPE [dbo].[TYPE_CAPNHATDANGKY] AS TABLE(
	[MALTC] [int] NULL,
	[MASV] [nvarchar](10) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TYPE_DANGKY]    Script Date: 8/27/2023 04:35:06 PM ******/
CREATE TYPE [dbo].[TYPE_DANGKY] AS TABLE(
	[MALTC] [int] NULL,
	[MASV] [nchar](10) NULL,
	[DIEM_CC] [int] NULL,
	[DIEM_GK] [float] NULL,
	[DIEM_CK] [float] NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[TinhSoTienDaDong]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[TinhSoTienDaDong](
    @maSV NVARCHAR(10),
	@nienKhoa NVARCHAR(10),
	@hocKy INT
)
RETURNS INT
AS
BEGIN
    DECLARE @TongTienDaDong INT

    SELECT @TongTienDaDong = ISNULL(SUM(SOTIENDONG), 0)
    FROM CT_DONGHOCPHI
    WHERE MASV = @maSV  AND NIENKHOA = @nienKhoa AND HOCKY = @hocKy
    RETURN @TongTienDaDong
END;
GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MAGV] [nchar](10) NOT NULL,
	[MAKHOA] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[HOCVI] [nvarchar](20) NULL,
	[HOCHAM] [nvarchar](20) NULL,
	[CHUYENMON] [nvarchar](50) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_GIANGVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_DS_GIANGVIEN]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DS_GIANGVIEN] AS

SELECT MAGV, 
HOTEN = HO+ ' '+ TEN

FROM GIANGVIEN
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [nchar](10) NOT NULL,
	[TENMH] [nvarchar](50) NOT NULL,
	[SOTIET_LT] [int] NOT NULL,
	[SOTIET_TH] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_DS_MONHOC]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW	[dbo].[V_DS_MONHOC] 
AS
SELECT MAMH, TENMH FROM MONHOC
GO
/****** Object:  View [dbo].[V_DS_PHANMANH]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DS_PHANMANH]
AS
SELECT  
	TENCN=PUBS.description, 
	TENSERVER= subscriber_server
	FROM 
		dbo.sysmergepublications PUBS,  
		dbo.sysmergesubscriptions SUBS
	WHERE 
		PUBS.pubid= SUBS.PUBID  AND PUBS.publisher <> SUBS.subscriber_server
			
GO
/****** Object:  View [dbo].[V_DS_PHANMANH_KHAC]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DS_PHANMANH_KHAC]
AS
SELECT  
	TENCN=PUBS.description, 
	TENSERVER= subscriber_server
	FROM 
		dbo.sysmergepublications PUBS,  
		dbo.sysmergesubscriptions SUBS
	WHERE 
		PUBS.pubid= SUBS.PUBID  AND PUBS.publisher != SUBS.subscriber_server
			
GO
/****** Object:  Table [dbo].[CT_DONGHOCPHI]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DONGHOCPHI](
	[MASV] [nchar](10) NOT NULL,
	[NIENKHOA] [nchar](9) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[NGAYDONG] [date] NOT NULL,
	[SOTIENDONG] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_CT_DONGHOCPHI] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[NIENKHOA] ASC,
	[HOCKY] ASC,
	[NGAYDONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGKY]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGKY](
	[MALTC] [int] NOT NULL,
	[MASV] [nchar](10) NOT NULL,
	[DIEM_CC] [int] NULL,
	[DIEM_GK] [float] NULL,
	[DIEM_CK] [float] NULL,
	[HUYDANGKY] [bit] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_DANGKY] PRIMARY KEY CLUSTERED 
(
	[MALTC] ASC,
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_DANGKY] UNIQUE NONCLUSTERED 
(
	[MALTC] ASC,
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCPHI]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCPHI](
	[MASV] [nchar](10) NOT NULL,
	[NIENKHOA] [nchar](9) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[HOCPHI] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_HOCPHI] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[NIENKHOA] ASC,
	[HOCKY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [nchar](10) NOT NULL,
	[TENKHOA] [nvarchar](50) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [nchar](10) NOT NULL,
	[TENLOP] [nvarchar](50) NOT NULL,
	[KHOAHOC] [nchar](9) NOT NULL,
	[MAKHOA] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOPTINCHI]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOPTINCHI](
	[MALTC] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[NIENKHOA] [nchar](9) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[MAMH] [nchar](10) NOT NULL,
	[NHOM] [int] NOT NULL,
	[MAGV] [nchar](10) NOT NULL,
	[MAKHOA] [nchar](10) NOT NULL,
	[SOSVTOITHIEU] [int] NOT NULL,
	[HUYLOP] [bit] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_LOPTINCHI] PRIMARY KEY CLUSTERED 
(
	[MALTC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_LOPTINCHI] UNIQUE NONCLUSTERED 
(
	[NIENKHOA] ASC,
	[HOCKY] ASC,
	[MAMH] ASC,
	[NHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[PHAI] [bit] NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[NGAYSINH] [date] NULL,
	[MALOP] [nchar](10) NOT NULL,
	[DANGHIHOC] [bit] NOT NULL,
	[PASSWORD] [nvarchar](40) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] ADD  CONSTRAINT [DF_CT_DONGHOCPHI_NGAYDONG]  DEFAULT (getdate()) FOR [NGAYDONG]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] ADD  CONSTRAINT [MSmerge_df_rowguid_6BC5BA3ED8764EF091633EDD271ECDF0]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[DANGKY] ADD  CONSTRAINT [MSmerge_df_rowguid_09A6ED208CDE4A159BBF2AD54C609C9A]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GIANGVIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_66EC1CDAA48A45FEB5D2E31B5A3DA2C7]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [DF_HOCPHI_HOCKY]  DEFAULT ((1)) FOR [HOCKY]
GO
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [DF_HOCPHI_HOCPHI]  DEFAULT ((6000000)) FOR [HOCPHI]
GO
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [MSmerge_df_rowguid_837BDAFA30B94455A0AD0C125FAE3247]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[KHOA] ADD  CONSTRAINT [MSmerge_df_rowguid_879AC94784814441BFFCECF7C2D0C574]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[LOP] ADD  CONSTRAINT [MSmerge_df_rowguid_D7F7D63E3CFF43B49A7CB2921264C200]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[LOPTINCHI] ADD  CONSTRAINT [DF_LOPTINCHI_HUYLOP]  DEFAULT ('false') FOR [HUYLOP]
GO
ALTER TABLE [dbo].[LOPTINCHI] ADD  CONSTRAINT [MSmerge_df_rowguid_28A7F7F8B72342C6A59844CC3C791FD8]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[MONHOC] ADD  CONSTRAINT [MSmerge_df_rowguid_45364EC6F230404DA9F9BB348E28BE5A]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [DF_SINHVIEN_PHAI]  DEFAULT ('false') FOR [PHAI]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [DF_SINHVIEN_DANGHIHOC]  DEFAULT ('false') FOR [DANGHIHOC]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [DF_SINHVIEN_PASSWORD]  DEFAULT ('') FOR [PASSWORD]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_4BC5F76BFDCB45E8BD9E6EB55120A4E1]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI]  WITH CHECK ADD  CONSTRAINT [FK_CT_DONGHOCPHI_HOCPHI] FOREIGN KEY([MASV], [NIENKHOA], [HOCKY])
REFERENCES [dbo].[HOCPHI] ([MASV], [NIENKHOA], [HOCKY])
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] CHECK CONSTRAINT [FK_CT_DONGHOCPHI_HOCPHI]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_CTLTC_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_CTLTC_SINHVIEN]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_DANGKY_LOPTINCHI] FOREIGN KEY([MALTC])
REFERENCES [dbo].[LOPTINCHI] ([MALTC])
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_DANGKY_LOPTINCHI]
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIANGVIEN_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [FK_GIANGVIEN_KHOA]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [FK_HOCPHI_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [FK_HOCPHI_SINHVIEN]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOA]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK_LOPTINCHI_GIANGVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK_LOPTINCHI_GIANGVIEN]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK_LOPTINCHI_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK_LOPTINCHI_KHOA]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK_LOPTINCHI_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK_LOPTINCHI_MONHOC]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI]  WITH CHECK ADD  CONSTRAINT [CK_SOTIENDONG] CHECK  (([SOTIENDONG]>(0)))
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] CHECK CONSTRAINT [CK_SOTIENDONG]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [CK_HOCKY] CHECK  (([HOCKY]>=(1) AND [HOCKY]<=(4)))
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [CK_HOCKY]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [CK_HOCPHI] CHECK  (([HOCPHI]>(0)))
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [CK_HOCPHI]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [CK_SOSVTOITHIEU] CHECK  (([SOSVTOITHIEU]>(0)))
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [CK_SOSVTOITHIEU]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_0B74265F_ADED_4F32_AD60_A97648A4414F] CHECK NOT FOR REPLICATION (([MALTC]>(8) AND [MALTC]<=(1008) OR [MALTC]>(1008) AND [MALTC]<=(2008)))
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [repl_identity_range_0B74265F_ADED_4F32_AD60_A97648A4414F]
GO
/****** Object:  StoredProcedure [dbo].[getHoTenById]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getHoTenById]
(
	@MaGv nchar(10)
)
AS
	SET NOCOUNT ON;
SELECT MAGV, HOTEN = ( HO+ ' '+ TEN) FROM GIANGVIEN WHERE MAGV = @MaGv
GO
/****** Object:  StoredProcedure [dbo].[SP_BANGDIEM_MH]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_BANGDIEM_MH]
	@Nienkhoa NVARCHAR(10), 
	@Hocki INT,  
	@MaMH NVARCHAR(10),
	@Nhom INT
AS
BEGIN
  DECLARE @Tenkhoa NVARCHAR(100), 
		  @TENMH NVARCHAR(100),
		  @MaLTC INT

	SELECT @Tenkhoa= TENKHOA FROM KHOA where MAKHOA='CNTT'
	SELECT @TENMH = TENMH FROM MONHOC WHERE MAMH = @MaMH
	SELECT @MaLTC = MALTC From LOPTINCHI where NIENKHOA= @Nienkhoa and HOCKY = @Hocki and MAMH = @MaMH and NHOM =@Nhom

  SELECT SV.MASV, HOTEN=HO+' '+TEN, DIEM_CC, DIEM_GK, DIEM_CK
  FROM  (SELECT MASV, HO,TEN FROM SINHVIEN) SV, 
         (SELECT MASV, DIEM_CC, DIEM_GK, DIEM_CK FROM DANGKY  WHERE MALTC = @MaLTC and HUYDANGKY = 'FALSE') Diem
  WHERE SV.MASV = Diem.MASV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKID]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKID](@ID NCHAR(10),@Type NCHAR(20))
AS
BEGIN
	IF(@Type = 'MAMONHOC')
	BEGIN
		IF(EXISTS(SELECT * FROM MONHOC WHERE MAMH=@ID))
		BEGIN
			return 1; --Phân mảnh hiện tại
		END
	END

	IF(@Type='MALOP')
	BEGIN
		IF(EXISTS(SELECT * FROM LOP WHERE MALOP=@ID))
		BEGIN
			return 1;
		END
		IF(EXISTS(SELECT * FROM LINK1.QLDSV_TC.dbo.LOP AS LOP WHERE LOP.MALOP=@ID))
		BEGIN
			return 2; -- Phân mảnh khác
		END
	END

	IF(@Type= 'MASV')
	BEGIN
		IF(EXISTS(SELECT * FROM SINHVIEN WHERE MASV=@ID))
		BEGIN
			return 1;
		END
		IF(EXISTS(SELECT * FROM LINK1.QLDSV_TC.dbo.SINHVIEN AS SV WHERE SV.MASV=@ID))
		BEGIN
			return 2;
		END
	END

	return 0; -- MÃ Không tồn tại ở bất kì phân mảnh nào
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CT_DONGHOCPHI_MASV]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CT_DONGHOCPHI_MASV]
	@maSV Nvarchar(10),
	@nienKhoa nvarchar(15),
	@hocky int
AS
BEGIN
	SELECT NGAYDONG, SOTIENDONG FROM CT_DONGHOCPHI 
	WHERE MASV = @maSV AND NIENKHOA = @NienKhoa AND HOCKY = @hocky

END
GO
/****** Object:  StoredProcedure [dbo].[SP_DANGKY_LTC]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANGKY_LTC]
	--@maSV NVARCHAR(10),
	--@maLTC int
	@maSV NVARCHAR(10),
	@DK TYPE_CAPNHAT_DANGKY READONLY
	
AS
BEGIN
		--  nếu MASV và MALTC chưa tồn tại trong Table Đăng Ký thì insert
	BEGIN TRANSACTION;
	BEGIN TRY
		-- SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;  

		MERGE INTO DANGKY AS TARGET
		USING (SELECT MALTC, @maSV AS MASV FROM @DK) AS SOURCE
		ON TARGET.MALTC = SOURCE.MALTC AND TARGET.MASV = SOURCE.MASV 

		-- NẾU 2 BÊN ĐỀU CÓ THÌ UPDATE TRẠNG THÁI -> ĐĂNG KÝ
		WHEN MATCHED THEN UPDATE SET TARGET.HUYDANGKY = 'FALSE' 
		-- BÊN TARGET KHÔNG CÓ -> THÊM DÒNG MỚI VỚI TRẠNG THÁI LÀ ĐĂNG KÝ
		WHEN NOT MATCHED BY TARGET THEN INSERT (MALTC,MASV,HUYDANGKY) VALUES (SOURCE.MALTC, SOURCE.MASV, 'FALSE') 
		-- KHÔNG CÓ BÊN SOURCE -> TRẠNG THÁI -> HỦY
		WHEN NOT MATCHED BY SOURCE AND TARGET.MASV = @MASV THEN UPDATE SET TARGET.HUYDANGKY = 'TRUE'; 


			
		COMMIT TRANSACTION
	END TRY

	BEGIN CATCH
		ROLLBACK TRANSACTION
	END CATCH;

END







		--IF EXISTS (SELECT 1 FROM DANGKY WHERE MASV = @maSV AND MALTC = @maLTC)
		--	BEGIN
		--		INSERT INTO DANGKY (MASV, MALTC, HUYDANGKY) VALUES (@maSV, @maLTC, 0)
		--	END
		--ELSE 
		--	BEGIN
  --          -- Cập nhật cột HUYDANGKY thành true nếu đã tồn tại
		--		UPDATE DANGKY SET HUYDANGKY = 1 WHERE MASV = @maSV AND MALTC = @maLTC;
		--	END
GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANGNHAP]
@TENLOGIN NVARCHAR (50)
AS
DECLARE @TENUSER NVARCHAR(50)
SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)
 
 SELECT 
 USERNAME = @TENUSER, 
  HOTEN = (SELECT HO+ ' '+ TEN FROM GIANGVIEN  WHERE MAGV = @TENUSER ),
   NAME as tennhom
   FROM sys.sysusers 
   WHERE UID = (SELECT GROUPUID 
                 FROM SYS.SYSMEMBERS 
                   WHERE MEMBERUID= (SELECT UID FROM sys.sysusers 
                                      WHERE NAME=@TENUSER))
GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP_SV]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANGNHAP_SV]
@TENLOGIN NVARCHAR (50),
@MaSV NVARCHAR (50),
@PASSWORD NVARCHAR (50)
AS
DECLARE 
	@TENUSER NVARCHAR(50)
	-- @HOTEN NVARCHAR(50)

IF EXISTS (SELECT * FROM SINHVIEN WHERE MaSV = @MaSV AND PASSWORD = @PASSWORD)
-- @HOTEN = (
-- IF @HOTEN IS NOT NULL
BEGIN
	SELECT @TENUSER = NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)

	SELECT 
		USERNAME = @MaSV, 
		HOTEN = (SELECT HO + ' ' + TEN FROM SINHVIEN WHERE MaSV = @MaSv),
		NAME as tennhom
	FROM sys.sysusers 
	WHERE UID = (
		SELECT GROUPUID 
		FROM SYS.SYSMEMBERS 
		WHERE MEMBERUID = (
			SELECT UID FROM sys.sysusers 
			WHERE NAME = @TENUSER
		)
	)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DONG_HP]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DONG_HP]
	@maSV NVARCHAR(50),
    @nienKhoa NVARCHAR(50),
    @hocKy INT,
    @ngayDong DATE,
    @soTienDong int
AS
BEGIN
	INSERT INTO [QLDSV_TC].[dbo].[CT_DONGHOCPHI] ([MASV], [NIENKHOA], [HOCKY], [NGAYDONG], [SOTIENDONG])
    VALUES (@maSV, @nienKhoa, @hocKy, @ngayDong, @soTienDong)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DS_LTC_SINHVIENDANGKY_BAD]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DS_LTC_SINHVIENDANGKY_BAD]
    @NienKhoa nchar(9),
    @HocKy int
    --@MaSV nchar(10)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @MaMonHoc nvarchar(50),
            @MaGiangVien nvarchar(50)

    SELECT @MaMonHoc = MAMH, @MaGiangVien = MAGV
    FROM LOPTINCHI
    WHERE NIENKHOA = @NienKhoa AND HOCKY = @HocKy  AND MaKhoa = 'CNTT'

    SELECT
        @MaMonHoc AS MaMonHoc,
        @MaGiangVien AS MaGiangVien,
        (SELECT Ho + ' ' + Ten AS HoTenGV FROM GIANGVIEN WHERE MAGV = @MaGiangVien) AS HoTenGV,
        (SELECT TENMH FROM MONHOC WHERE MAMH = @MaMonHoc) AS TenMonHoc

    -- Hiển thị thông tin sinh viên
    --SELECT
       -- Ho + ' ' + Ten AS HoTenSV,
       -- MaLop
    --FROM
       -- SINHVIEN
   -- WHERE
     ---  MaSV = @MaSV;

    -- Hiển thị danh sách các lớp tín chỉ mở trong niên khóa và học kỳ đã nhập
    SELECT
        LTC.MAMH,
        MH.TENMH,
        LTC.Nhom,
        GV.Ho + ' ' + GV.Ten AS HoTenGV,
        COUNT(DK.MaSV) AS SoSVDangKy
    FROM
        LOPTINCHI LTC
    JOIN
        MONHOC MH ON LTC.MAMH = MH.MAMH
    JOIN
        GIANGVIEN GV ON LTC.MAGV = GV.MAGV
    LEFT JOIN
        DANGKY DK ON LTC.MALTC = DK.MALTC AND DK.HUYDANGKY = 1 -- HUYDK = 0 là chưa hủy đăng ký
    WHERE
        LTC.NIENKHOA = @NienKhoa AND LTC.HOCKY = @HocKy
    GROUP BY
        LTC.MAMH, MH.TENMH, LTC.Nhom, GV.Ho, GV.Ten;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DS_SINHVIEN_DANGKY_LTC]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DS_SINHVIEN_DANGKY_LTC]
	@Nienkhoa NVARCHAR(10), 
	@Hocky INT,  
	@MaMH NVARCHAR(10),
	@Nhom INT,
	@MaKhoa nchar(10) -- CNTT
AS
BEGIN
	-- Input: Khoa - (NienKhoa - HocKy - MonHoc - Nhom) => MALTC
	-- Output: MaSV - Ho - Ten - Phai - MaLop
	-- Table: SINHVIEN - DANGKY - LTC // MaLTC -> MaSV -> SINHVIEN

	DECLARE @MaLTC INT

	SELECT @MaLTC = MALTC FROM LOPTINCHI 
	WHERE 
		MAKHOA = @MaKhoa 
		AND NIENKHOA = @Nienkhoa 
		AND HOCKY = @Hocky 
		AND MAMH = @MaMH 
		AND NHOM = @Nhom

	SELECT	
		SV.MASV, SV.HO, SV.TEN, SV.PHAI, SV.MALOP
	FROM
		(SELECT MASV, HO, TEN, PHAI, MALOP FROM SINHVIEN WITH(INDEX = IX_MALOP)) SV,
		(SELECT MASV FROM DANGKY WHERE MALTC = @MaLTC) DK
	WHERE SV.MASV = DK.MASV
	ORDER BY TEN, HO ASC

END
GO
/****** Object:  StoredProcedure [dbo].[SP_DSDKMH]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_DSDKMH] (@NienKhoa nchar(9), @HocKy INT, @Nhom Int, @MonHoc nchar(10))
AS
BEGIN
	DECLARE @MALTC int;
	SELECT @MALTC = MALTC FROM LOPTINCHI WHERE LOPTINCHI.NIENKHOA = @NienKhoa AND LOPTINCHI.HOCKY=@HocKy AND LOPTINCHI.NHOM=@Nhom AND LOPTINCHI.MAMH=@MonHoc
	SELECT @MALTC as MALTC,
		   DSDK.MASV,
		   HOTEN=SV.HO+' '+SV.TEN,
		   DSDK.DIEM_CC,
		   DSDK.DIEM_GK,
		   DSDK.DIEM_CK,
		   DIEMTK = (DIEM_CC*0.1 + DIEM_GK*0.3 + DIEM_CC*0.6)
	FROM 
		(SELECT MASV,DIEM_CC,DIEM_GK,DIEM_CK FROM DANGKY WHERE MALTC = @MALTC AND (HUYDANGKY is null OR HUYDANGKY='false')) DSDK,
		(SELECT MASV, HO,TEN FROM SINHVIEN) SV
	WHERE DSDK.MASV=SV.MASV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DSLOPTINCHI]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DSLOPTINCHI] 
	@MaKhoa nchar(9),
	@NienKhoa nchar(9),
    @HocKy int
AS
BEGIN
    SELECT  
        LTC.MALTC,
        MH.MAMH,
        MH.TENMH,
		LTC.NHOM,
        GV.HOTENGV, 
        LTC.SOSVTOITHIEU, 
        (SELECT COUNT(DK.MaSV) FROM DANGKY DK WHERE LTC.MALTC = DK.MALTC AND DK.HUYDANGKY='FALSE') AS SVDADANGKY
    FROM 
        (SELECT MAMH, TENMH FROM MONHOC) MH,
        (SELECT MAGV, (HO + ' ' + TEN) AS HOTENGV FROM GIANGVIEN) GV,
        (SELECT * FROM LOPTINCHI WHERE NIENKHOA = @NienKhoa AND HOCKY = @HocKy AND MaKhoa = @MaKhoa and HUYLOP = 'FALSE') LTC
    WHERE 
        LTC.MAMH = MH.MAMH
        AND LTC.MAGV = GV.MAGV
    ORDER BY 
        MH.TENMH, LTC.NHOM
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DSLTC_SV_DADANGKY]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DSLTC_SV_DADANGKY]
	@MaSV nchar(10),
	@NienKhoa nchar(9),
    @HocKy int,
	@MaKhoa Nchar(10)
AS
BEGIN
	
	SELECT LTC.MALTC, LTC.MAMH, LTC.NHOM  --  LTC.MAGV,
	FROM
		(SELECT  * FROM LOPTINCHI
		WHERE NIENKHOA = @NienKhoa AND HOCKY = @HocKy AND MaKhoa = @MaKhoa and HUYLOP = 'FALSE') LTC, 
		(SELECT * FROM DANGKY 
		WHERE MASV = @MaSV ) DK
	WHERE LTC.MALTC = DK.MALTC AND 
	(DK.DIEM_CC IS NULL OR DK.DIEM_CK IS NULL OR DK.DIEM_GK IS NULL) AND
	DK.HUYDANGKY = 'FALSE'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_HOCKY]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_GET_HOCKY] (@NK NCHAR(9))
AS
BEGIN
	SELECT HOCKY FROM LOPTINCHI WHERE NIENKHOA=@NK GROUP BY HOCKY
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_MONHOC]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_MONHOC] @NienKhoa nchar(9), @HocKy Int
AS
BEGIN
	SELECT MH.MAMH, MH.TENMH FROM LOPTINCHI L JOIN MONHOC MH ON L.NIENKHOA=@NienKhoa AND L.HOCKY=@HocKy
	GROUP BY MH.MAMH, MH.TENMH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_NHOM]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_NHOM] @NienKhoa nchar(9), @HocKy Int, @MaMH nchar(10)
AS
BEGIN
	SELECT NHOM FROM LOPTINCHI WHERE LOPTINCHI.NIENKHOA=@NienKhoa AND LOPTINCHI.HOCKY=@HocKy and LOPTINCHI.MAMH=@MaMH
	GROUP BY NHOM
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_NIENKHOA]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_NIENKHOA]
AS
BEGIN
	SELECT NIENKHOA FROM LOPTINCHI GROUP BY NIENKHOA
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_THONGTINSINHVIEN]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_THONGTINSINHVIEN](@masv nchar(10))
as
begin
	IF(EXISTS(SELECT TOP 1 MASV FROM SINHVIEN WHERE MASV=@masv))
	BEGIN
		SELECT SV.MASV, HOTEN=SV.HO +' '+ SV.TEN,L.TENLOP, L.MALOP, K.TENKHOA 
		FROM SINHVIEN SV
			 JOIN LOP L ON SV.MALOP=L.MALOP
			 JOIN KHOA K ON L.MAKHOA=K.MAKHOA
		WHERE SV.MASV=@masv
		--RETURN 1; 
	END
	ELSE
	BEGIN
		RAISERROR('SINH VIEN KHONG TON TAI',16,1);
		RETURN 0;
	END
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GETDIEMSV]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GETDIEMSV] (@MASV CHAR(10))
AS
BEGIN
	SELECT NKHK=(N'Học kỳ '+CAST(LTC.HOCKY AS VARCHAR)+' '+N'Niên khóa '+LTC.NIENKHOA),
	   MH.TENMH,
	   DK.DIEM_CC,
	   DK.DIEM_GK,
	   DK.DIEM_CK,
	   DIEM_TK= DIEM_CC*0.1 + DIEM_GK*0.3 + DIEM_CK*0.6
	FROM	 DANGKY DK JOIN
					((SELECT MALTC, HOCKY, NIENKHOA, MAMH FROM LOPTINCHI) LTC
					JOIN (SELECT MAMH, TENMH FROM MONHOC) MH
					ON LTC.MAMH = MH.MAMH) 
	ON DK.MASV=@MASV AND LTC.MALTC = DK.MALTC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_LTC]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAY_DS_LTC] (@NK NVARCHAR (10), @HK INT, @Nhom INT, @MAMH nchar(10))
AS
BEGIN
	SELECT LTC.MAMH, MH.TENMH, LTC.NHOM, HOTEN=GV.HO + ' '+ GV.TEN
	FROM (SELECT MALTC,MAMH,NHOM,MAGV FROM LOPTINCHI WHERE NIENKHOA=@NK AND HOCKY=@HK AND NHOM=@Nhom AND MAMH=@MAMH AND HUYLOP='false') LTC,
		 (SELECT MAMH,TENMH FROM MONHOC) MH,
		 (SELECT MAGV,HO, TEN FROM GIANGVIEN) GV
	WHERE LTC.MAMH=MH.MAMH AND LTC.MAGV=GV.MAGV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAYTHONGTINSINHVIEN]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[SP_LAYTHONGTINSINHVIEN]
	@MaSV nchar(10)
	-- @MaKhoa nchar(10)
AS
BEGIN
	DECLARE @MaLop nvarchar(20),
	@MaKhoa nchar(10)
	SELECT  @MaLop = MALOP FROM SINHVIEN WHERE @MaSV = MASV
	SELECT  @MaKhoa = MAKHOA FROM LOP WHERE @MaLop = MALOP
	SELECT
        SV.MaSV,
        SV.Ho + ' ' + SV.Ten AS HoTen,
        SV.MaLop,
        L.TenLop,
        K.TenKhoa
    FROM
        (SELECT MASV, HO,TEN, MALOP FROM SINHVIEN) SV, 
		(SELECT  MALOP, TENLOP, MAKHOA FROM LOP) L,
		(SELECT  MAKHOA, TENKHOA FROM KHOA) K
    WHERE
         -- SV.MALOP = L.MALOP AND L.MAKHOA = @MaKhoa AND SV.MaSV = @MaSV
		 SV.MALOP = L.MALOP AND L.MAKHOA = K.MAKHOA AND SV.MaSV = @MaSV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_BANGDIEMTONGKET_LOP]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_REPORT_BANGDIEMTONGKET_LOP] (@malop NCHAR(10))
AS
BEGIN
	SELECT SV.MASV,SV.HOTEN, LTC.TENMH, DIEM=(ROUND(MAX(DK.DIEM_CC*0.1+DK.DIEM_GK*0.3+DK.DIEM_CK*0.6),1))
	FROM (SELECT MALOP, MASV, HOTEN=HO+' '+TEN FROM SINHVIEN) SV,
		 DANGKY DK,
		 (SELECT MONHOC.TENMH FROM LOPTINCHI, MONHOC WHERE LOPTINCHI.MAMH=MONHOC.MAMH) LTC
	WHERE SV.MALOP=@malop AND DK.MASV=SV.MASV
	GROUP BY SV.MASV,SV.HOTEN, LTC.TENMH
	ORDER BY SV.MASV
	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_HOCPHI]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_REPORT_HOCPHI] (@MALOP CHAR(10), @NIENKHOA CHAR(9), @HOCKY INT)
AS
BEGIN
	IF(EXISTS(SELECT TOP 1 SINHVIEN.MASV FROM HOCPHI, SINHVIEN WHERE SINHVIEN.MALOP=@MALOP AND HOCPHI.HOCKY=@HOCKY AND HOCPHI.NIENKHOA=@NIENKHOA))
	BEGIN
		SELECT SV.HOTEN, HP.HOCPHI,HP.SOTIENDADONG
		FROM (SELECT MASV, MALOP, HOTEN = HO + ' ' + TEN FROM SINHVIEN) SV
		JOIN (
			  SELECT HOCPHI.MASV,HOCPHI.HOCPHI,SUM(CT_DONGHOCPHI.SOTIENDONG) AS SOTIENDADONG
			 FROM CT_DONGHOCPHI, HOCPHI
			 WHERE CT_DONGHOCPHI.NIENKHOA=@NIENKHOA AND CT_DONGHOCPHI.HOCKY=@HOCKY
			 GROUP BY HOCPHI.MASV,HOCPHI.HOCPHI
		) HP
		ON HP.MASV=SV.MASV AND SV.MALOP=@MALOP
	END
	ELSE
	BEGIN 
		RAISERROR('KHÔNG TÌM THẤY THÔNG TIN VỪA NHẬP',16,2);
		RETURN 0
	END
	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_PHIEUDIEM]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_REPORT_PHIEUDIEM](@MASV CHAR(10))
AS
BEGIN
	IF(EXISTS(SELECT TOP 1 * FROM SINHVIEN WHERE MASV=@MASV))
	BEGIN
		SELECT 
		   MH.TENMH,
		   DIEM_TK= MAX(DIEM_CC*0.1 + DIEM_GK*0.3 + DIEM_CK*0.6)
		FROM	 DANGKY DK JOIN
					((SELECT MALTC, HOCKY, NIENKHOA, MAMH FROM LOPTINCHI) LTC
					JOIN (SELECT MAMH, TENMH FROM MONHOC) MH
					ON LTC.MAMH = MH.MAMH) 
		ON DK.MASV=@MASV AND LTC.MALTC = DK.MALTC AND (DK.HUYDANGKY='false' ) 
		GROUP BY TENMH
	END
	ELSE
		RAISERROR(N'Mã sinh viên không tồn tại',16,1);

END
GO
/****** Object:  StoredProcedure [dbo].[SP_TEST]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[SP_TEST]
AS
BEGIN
	SELECT * FROM LOPTINCHI
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THONGTIN_CT_DONGHOCPHI]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THONGTIN_CT_DONGHOCPHI] 
	@maSV NVARCHAR(10),
	@nienKhoa NVARCHAR(10),
	@hocKy INT
AS
BEGIN
	SELECT NGAYDONG, SOTIENDONG FROM CT_DONGHOCPHI 
	WHERE MASV = @maSV AND NIENKHOA = @nienKhoa AND HOCKY = @hocKy
	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THONGTINDANGNHAP]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THONGTINDANGNHAP]
@TENLOGIN NVARCHAR(50), 
@VAITRO NVARCHAR(50)
AS
	DECLARE @TENUSER NVARCHAR(50)
	SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)
	IF(@VAITRO='GV')
		SELECT 
		 USERNAME = @TENUSER, 
		  HOTEN = (SELECT HO+ ' '+ TEN FROM GIANGVIEN  WHERE MAGV = @TENUSER ),
		   NAME as tennhom
		   FROM sys.sysusers 
		   WHERE UID = (SELECT GROUPUID 
						 FROM SYS.SYSMEMBERS 
						   WHERE MEMBERUID= (SELECT UID FROM sys.sysusers 
											  WHERE NAME=@TENUSER))
	ELSE -- SV
		SELECT 
		 USERNAME = @TENLOGIN, 
		  HOTEN = (SELECT HO+ ' '+ TEN FROM SINHVIEN  WHERE MASV = @TENLOGIN),
		  TENNHOM = 'SV'
GO
/****** Object:  StoredProcedure [dbo].[SP_THONGTINDONGHOCPHI]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THONGTINDONGHOCPHI]
	@maSV Nvarchar(10)
AS
BEGIN
    -- DECLARE @SOTIENCANDONG INT;
	 
    SELECT 
        -- HP.MASV,
        HP.NIENKHOA,
        HP.HOCKY,
        HP.HOCPHI,
		ISNULL(dbo.TinhSoTienDaDong(@maSV, HP.NIENKHOA, HP.HOCKY), 0) AS SOTIENDADONG,
        HP.HOCPHI - ISNULL(dbo.TinhSoTienDaDong(@maSV, HP.NIENKHOA, HP.HOCKY), 0) AS SOTIENCANDONG

		 
    FROM	(SELECT * FROM HOCPHI WHERE MASV = @maSV) HP,
			(SELECT * FROM CT_DONGHOCPHI WHERE MASV = @maSV) CTDHP -- WHERE MASV = @maSV
	WHERE HP.MASV = CTDHP.MASV 
    GROUP BY
        HP.MASV,
        HP.NIENKHOA,
        HP.HOCKY,
        HP.HOCPHI;

END;









--FROM
--    HOCPHI HP
--LEFT JOIN
--    CT_DONGHOCPHI CTDHP ON HP.MASV = CTDHP.MASV 
--WHERE
--    HP.MASV = @maSV







--	SELECT 
--		HP.NIENKHOA, 
--		HP.HOCKY, 
--		HP.HOCPHI 
		
--	FROM CT_DONGHOCPHI
--	INNER JOIN HOCPHI ON CT_DONGHOCPHI.MASV = HOCPHI.MASV

--	ORDER BY HP.NIENKHOA ASC, HP.HOCKY ASC;
--END

		--CASE WHEN 
		--	EXISTS (
		--		SELECT 1 FROM CT_DONGHOCPHI 
		--		WHERE MASV = @maSV AND NIENKHOA = HP.NIENKHOA AND HOCKY = HP.HOCKY
		--	)
		--	THEN -- CTDHP.SOTIENDONG
		--	(SELECT SUM(SOTIENDONG) FROM CT_DONGHOCPHI WHERE MASV = @maSV AND NIENKHOA = HP.NIENKHOA AND HOCKY = HP.HOCKY)
		--	ELSE 0
		--END AS SOTIENDONG, 
		--CASE WHEN 
		--	EXISTS (
		--		SELECT 1 FROM CT_DONGHOCPHI 
		--		WHERE MASV = @maSV AND NIENKHOA = HP.NIENKHOA AND HOCKY = HP.HOCKY
		--	)
		--	THEN HP.HOCPHI - SOTIENDONG
		--	ELSE HP.HOCPHI
		--END AS SOTIENCANDONG

	--		FROM	(SELECT * FROM HOCPHI) HP,
	--		(SELECT * FROM CT_DONGHOCPHI) CTDHP -- WHERE MASV = @maSV
	--WHERE HP.MASV = CTDHP.MASV

	--	SELECT 
	--	CT_DONGHOCPHI.NIENKHOA, 
	--	CT_DONGHOCPHI.HOCKY, 
	--	HOCPHI.HOCPHI,
		
	--	CASE WHEN 
	--		EXISTS (
	--			SELECT 1 FROM CT_DONGHOCPHI 
	--			WHERE MASV = @maSV AND NIENKHOA = HOCPHI.NIENKHOA AND HOCKY = HOCPHI.HOCKY
	--		)
	--		THEN -- CTDHP.SOTIENDONG
	--		(SELECT SUM(SOTIENDONG) FROM CT_DONGHOCPHI WHERE MASV = @maSV AND NIENKHOA = HOCPHI.NIENKHOA AND HOCKY = HOCPHI.HOCKY)
	--		ELSE 0
	--	END AS SOTIENDONG, 

	--	CASE WHEN 
	--		EXISTS (
	--			SELECT 1 FROM CT_DONGHOCPHI 
	--			WHERE MASV = @maSV AND NIENKHOA = HOCPHI.NIENKHOA AND HOCKY = HOCPHI.HOCKY
	--		)
	--		THEN HOCPHI.HOCPHI - SOTIENDONG
	--		ELSE HOCPHI.HOCPHI
	--	END AS SOTIENCANDONG
    
	--FROM 
	--	CT_DONGHOCPHI
	--INNER JOIN 
	--	HOCPHI ON CT_DONGHOCPHI.MASV = HOCPHI.MASV

	--ORDER BY 
	--	CT_DONGHOCPHI.NIENKHOA ASC, CT_DONGHOCPHI.HOCKY ASC;
GO
/****** Object:  StoredProcedure [dbo].[SP_TINH_HOCPHI_SV]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TINH_HOCPHI_SV]
	@nienKhoa nvarchar (9),
	@hocKy int

AS
BEGIN
	DECLARE @TienHP int;
	SET @TienHP = 550000;

	-- TABLE Tham gia: DK, LTC
	-- dựa vào niên khóa, học kỳ -> danh sách các lớp tín chỉ -> count * 3 * 550
	-- DK.MaSV
	-- LTC.NienKhoa, LTC.HocKy
	-- HocPhi

	--SELECT 
	--	DK.MASV,
	--	LTC.NIENKHOA,
	--	LTC.HOCKY,
	--	--HOCPHI
	--	(SELECT COUNT(DISTINCT DK.MALTC) FROM DANGKY WHERE DANGKY.MaSV = DK.MaSV) * @TienHP AS HOCPHI

	--FROM (SELECT * FROM LOPTINCHI WHERE NIENKHOA = @nienKhoa AND HOCKY = @hocKy)LTC, -- WHERE NIENKHOA = @nienKhoa AND HOCKY = @hocKy
	--			(SELECT * FROM DANGKY) Dk
	--WHERE LTC.MALTC = DK.MALTC -- AND LTC.NIENKHOA = @nienKhoa AND LTC.HOCKY = @hocKy

	--GROUP BY 
	--	MaSV, LTC.NIENKHOA, LTC.HOCKY
	--Declare @NK nvarchar (9),
	--		@HK int

	--		Set @NK = @nienKhoa;
	--		set @HK = @hocKy
				
	SELECT 
		DK.MaSV,
		LTC.NIENKHOA,
		LTC.HOCKY,
		(SUM(@TienHP) * COUNT(DISTINCT DK.MALTC)*3) AS HOCPHI

	-- FROM LOPTINCHI LTC
	-- INNER JOIN DANGKY DK ON LTC.MALTC = DK.MALTC
	-- WHERE LTC.NIENKHOA = @nienKhoa AND LTC.HOCKY = @hocKy
	FROM 
		(SELECT * FROM LOPTINCHI WHERE NIENKHOA = @nienKhoa AND HOCKY = @hocKy)LTC, -- WHERE NIENKHOA = @nienKhoa AND HOCKY = @hocKy
		(SELECT * FROM DANGKY) DK
	WHERE LTC.MALTC = DK.MALTC
	GROUP BY 
		DK.MaSV, LTC.NIENKHOA, LTC.HOCKY



END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_DIEM]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATE_DIEM] (@DIEMTHI TYPE_DANGKY READONLY)
AS
BEGIN
	MERGE INTO DANGKY AS Target
	USING (SELECT MALTC,MASV,DIEM_CC,DIEM_GK,DIEM_CK FROM @DIEMTHI) AS Source
	ON Target.MALTC=Source.MALTC AND Target.MASV=Source.MASV
	WHEN MATCHED THEN 
		UPDATE SET Target.DIEM_CC = Source.DIEM_CC, Target.DIEM_GK=Source.DIEM_GK,Target.DIEM_CK=Source.DIEM_CK
	WHEN NOT MATCHED THEN
		INSERT (MALTC,MASV,DIEM_CC,DIEM_GK,DIEM_CK)
		VALUES (Source.MALTC,Source.MASV,Source.DIEM_CC,Source.DIEM_GK,Source.DIEM_CK);
END
GO
/****** Object:  StoredProcedure [dbo].[SP3_GETKHOA_BYLOP]    Script Date: 8/27/2023 04:35:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP3_GETKHOA_BYLOP] (@malop char(10))
as
begin
	SELECT KHOA.TENKHOA
	FROM KHOA , LOP WHERE KHOA.MAKHOA=LOP.MAKHOA AND LOP.MALOP=@malop
end
GO
